<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
	  <form action="/search" method= "POST">
	    search <br>
	    <input type= "text" name= "search"></input> <br><br>
	    <input type= "submit" name = "subbutton" value ="Search"></input>
    </form>
      <form action="/logout">
        <input type="submit" name="logout" value="Logout"> </input>
      </form> <br>
      <center>
    	  <h3>Hello {{name}}, your story begins here.</h3>
	    </center>
      <form action = "viewStory"method="POST">
      {% for storyname in stories %}
      <input type = "submit" name = "title" value = {{storyname}}></input>
      {% endfor %}
      </form>
      <form action ="/addStory">
        <input type="submit" name="addstory" value="Add Story"> </input>
      </form> <br>

  </body>
</html>
