<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
	<center>
      <form action="/auth" method="POST">
	username <br>
	<input type="text" name="username"></input>
	<br><br>
	password <br>
	<input type="password" name="password"></input>
	<br><br>
	<input type="submit" name="submitButton" value="Login"></input>
      </form> <br> <br>
      <form action="/register" method="POST">
	username <br>
	<input type="text" name="rusername"></input>
	<br><br>
	password <br>
	<input type="password" name="rpassword"></input>
	<br><br>
	<input type="submit" name="rsubmitButton" value="Register"></input>
      </form> <br> <br>
	{% block footer %}
	&copy; Team BhaloChele (Good Boy).<br>
	Yinon Chan, Shin Bamba, Hasif Ahmed, Vincent Chi
	{% endblock %}
    </center>
  </body>
</html>
