<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
	<center>
		{% set messages = get_flashed_messages() %}
		{% for message in messages %}
			<p>{{message}}</p>
		{% endfor %}
    {% block register %}
      <form action="/auth" method="POST">
	username <br>
	<input type="text" name="username"></input>
	<br><br>
	password <br>
	<input type="password" name="password"></input>
	<br><br>
	<input type="submit" name="submitButton" value="Login"></input>
      </form> <br> <br>
      {% endblock %}
    <form action="/registerGo" method ="POST">
      <input type="submit" name="register" value="Register"> </input>
	{% block footer %}
	&copy; Team BhaloChele (Good Boy).<br>
	Yinon Chan, Shin Bamba, Hasif Ahmed, Vincent Chi
	{% endblock %}
    </center>
  </body>
</html>
