{% extends "base.html" %}

{%block title%}
    Search
{%endblock%}

{% block content %}
	  <form action="/search" method= "POST">
	    search <br>
	    <input type= "text" name= "search"></input> <br><br>
	    <input type= "submit" name = "subbutton" value ="Search"></input>
    </form>
      <form action="/logout">
        <input type="submit" name="logout" value="Logout"> </input>
      </form> <br>
	  <form action="/goHome" method ="POST">
      <input type="submit" name="goHome" value="Home"> </input>
	 </form>
	THESE ARE YOUR SEARCH RESULTS!!!!!
      <form action = "/viewStory" method="POST">
      {% for storyname in stories %}
      <input type = "submit" name = "title" value = {{storyname}}></input>
      {% endfor %}
	  <input type = "submit" name = "title" value = 'bestest'></input>
      </form>
{%endblock%}
