{% extends "base.html" %}

{%block title%}
    {{title}}
{%endblock%}

{% block content %}
  {% if not notAdded %}
  It seems that you have added to this story.
  <br>
  This is the full story.
  <br>
  {{text}}
  
  {% endif %}
  
  {% if notAdded %}
  Latest update to {{title}} 
  <br>
  {{text}}
  <br>
  <br>
	If you want to add to {{title}} <br>
	Your contribution <br>
  <form action="/addToStory" method ="POST">
	<select name="title">
		<option value= {{title}} selected>{{title}}</option>
	<input type="text" name="newEntry"></input>
	<input type ="submit" name = "addToStory" value = "Submit"></input>
	</form>
	{% endif %}
  <form action="/goHome" method ="POST">
      <input type="submit" name="goHome" value="Home"> </input>
	 </form>
{%endblock%}